altgraph==0.17
auto-py-to-exe==2.7.10
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cx-Freeze==6.4.1
decorator==4.4.2
Eel==0.12.4
ffmpeg-python==0.2.0
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==3.1.0
keyboard==0.13.5
MouseInfo==0.1.3
moviepy==1.0.3
numpy==1.19.4
pefile==2019.4.18
Pillow==8.0.1
proglog==0.1.9
pycparser==2.20
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyMsgBox==1.0.9
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.27
pytube==10.0.0
PyTweening==1.0.3
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.0
selenium==3.141.0
six==1.16.0
soupsieve==2.1
tqdm==4.54.1
typing-extensions==3.7.4.3
UNKNOWN==0.0.0
urllib3==1.26.2
whichcraft==0.6.1
youtube-dl==2021.6.6
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
